<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Cameca Extensions Dev" value="https://pkgs.dev.azure.com/cameca/Extensions/_packaging/extensions-dev/nuget/v3/index.json" protocolVersion="3" />
    <add key="Cameca Extensions Dev - preview" value="https://pkgs.dev.azure.com/cameca/Extensions/_packaging/extensions-dev-preview/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>